# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
DerivedData/
.build/
*.xcuserstate

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Build and profiling
build/
dist/
*.profraw
*.profdata
*.mode1v3
*.mode2v3
*.perspectivev3
